/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
:root{
    --title-color: rgb(13, 165, 38);
}
body{
    font-family: 'Roboto Mono', monospace;
}

.title{
    color: var(--title-color);
}